.container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-image: url(../img/pets-3715734_1280.jpg); 
     -webkit-background-size: cover;
     background-size: cover; 
     width: auto;
     height: 110vh;
}

.box {
    text-align: left;
    background-color: antiquewhite;
    padding: 10px 0;
    font-size: 2.1 rem;
    font-style:normal;
    border: 2px solid rgb(43, 43, 43);
    box-shadow: 10px 10px 5px #888888;
    width: 1000px;
    height: auto;
    
}
.content {
    min-width: 25vw;
    color:#f5f1f1;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 16px;
    background-color: #4b4a4a;
    border-radius:5px; 
    
}

.gridContainer>div {
    text-align: left;
    padding: 10px 0;
    font-size: 2.1 rem;
    font-style:normal;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.btucopy {
    background-color: brown;
    color: aliceblue;
}
.btulogin {
    background-color:blue;
    color: aliceblue;
}
.bturegister {
    background-color:green;
    color: aliceblue;
}
.text{
    color: blue;
}
.btn{
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn {
      background-color: green;
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid green;
  }
  .btn:hover{
      background-color: rgb(15, 177, 15);
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(15, 177, 15);
  }
  .btn1{
    background-color: rgb(141, 51, 51);
    border-radius: 10%;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn1 {
      background-color: brown;
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid brown;
  }
  .btn1:hover{
      background-color: red;
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid red;
  }
  .btn2{
    background-color: rgb(34, 183, 233);
    border-radius: 10%;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn2 {
      background-color: rgb(34, 183, 233);
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(34, 183, 233);
  }
  .btn2:hover{
      background-color: rgb(10, 152, 192);
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(10, 152, 192);
  }
  
  
  .body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(82, 76, 76);
    color: white;
  } 
  .text_left {
    font-size:25px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
    color: aliceblue;
    
  }
 
  